* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(242, 253, 246);
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 100%;
  max-width: 900px;
}
